.page-header {
  background-color: #562a81;
  color: white;
  font-weight: 100;
}

header {
  display: flex;
  align-items: center;
}

a:visited {
  color: white;
}

.page-header h2 {
  font-weight: 100;
  margin-right: 20px;
}

.page-header a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* nav {
  position: absolute;
  top: 28px;
  left: 350px;
  bottom: 0;
  right: 0;
} */

.column-half > img {
  width: 100%;
}

#title,
#notes,
#photo-url {
  border-radius: 4px;
}

input:focus {
  outline-color: #562a81;
}

textarea:focus {
  outline-color: #562a81;
}

.column-half input {
  width: 100%;
  line-height: 25px;
}

.notes-box {
  height: 149px;
}

.photo-url,
.notes-section {
  padding-top: 15px;
}

label {
  line-height: 25px;
}

.button {
  background-color: #562a81;
  color: white;
  padding: 5px 14px;
  border-radius: 4px;
  margin-top: 12px;
}

.new-entry-button {
  background-color: #562a81;
  color: white;
  margin: 28px 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

#view-entries {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h3 {
  margin: 0;
}
